.main {
  margin: 0 auto;
}

.code {
  margin-top: 10px;
}

.sandbox, .console {
  resize: none;
  font-size: 12pt;
}

.console {
  color: lime;
  background-color: black;
}

h1 {
  margin: 5px auto;
}