
<div class = "main" ng-controller="MainController">

  <div>
    <h1>LispAngular</h1>
    <a href="https://github.com/ammarm08/lisp-interpreter"> code on github</a>
  </div>

  <div class = "row code">

    <div class = "col-sm-6">

      <div class = "form-group">
        <textarea class="form-control sandbox" form="myForm" ng-model="expression" rows="10" cols="50"></textarea>
      </div>

      <form name="myForm" ng-submit="eval()">
        <button type="submit" class="btn btn-default form-control"> Evaluate </button>
      </form>

      <div class="notes">
        <h3> Hit "Evaluate" After Each Step. Try:</h3>
        <table class="table">
          <thead>
            <th>Steps</th>
            <th>What Lispers Say</th>
            <th>What Javascripters Say</th>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>(define square (lambda (x) (* x x) ))</td>
              <td> function square (x) { return x * x; } </td>
            </tr>
            <tr>
              <td> 2</td>
              <td>(square 3)</td>
              <td>square(3)</td>
            </tr>
            <tr>
              <td> 3</td>
              <td>(define sumSquares (lambda (x y) (+ (square x) (square y) )))</td>
              <td>function sumSquares (x, y) { return square(x) + square(y); }</td>
            </tr>
            <tr>
              <td> 3</td>
              <td>(sumSquares 4 5)</td>
              <td>sumSquares(4, 5)</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class = "col-sm-6">

      <div class = "form-group"> 
        <textarea class="form-control console" form="evalScreen" ng-model="console" rows="10" cols="50">{{console}}</textarea>
      </div>

      <form name="evalScreen" ng-submit="clear()">
        <button type="submit" class="btn btn-default form-control"> Clear Console </button>
      </form>

      <div class="todos">
        <h3> Built-In Functions:</h3>
        <table class="table">
          <thead>
            <th>Type</th>
            <th>Functions</th>
          </thead>
          <tbody>
            <tr>
              <td>Basic Operations and Comparators</td>
              <td>"+, -, /, *, >, <, >=, <=, eq?"</td>
            </tr>
            <tr>
              <td>List Operations</td>
              <td>"car, cdr, cons, length, list, list?, map, max, min</td>
            </tr>
            <tr>
              <td>Others</td>
              <td>"not, null?, number?, procedure?, symbol?"</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div>
    
  </div>
</div>