
<div class = "main" ng-controller="MainController">

  <div>
    <h1>LispAngular</h1>
    <a href="https://github.com/ammarm08/lisp-interpreter"> code on github</a>
  </div>

  <div class = "row code">

    <div class = "col-sm-6">

      <div class = "form-group">
        <textarea class="form-control sandbox" form="myForm" ng-model="expression" rows="10" cols="50"></textarea>
      </div>

      <form name="myForm" ng-submit="eval()">
        <button type="submit" class="btn btn-default form-control"> Evaluate </button>
      </form>

      <div class="notes">
        <h3> Hit "Evaluate" After Each Step. Try:</h3>
        <table class="table">
          <thead>
            <th>Steps</th>
            <th>What Lispers Say</th>
            <th>What Javascripters Say</th>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>(define square (lambda (x) (* x x) ))</td>
              <td> function square (x) { return x * x; } </td>
            </tr>
            <tr>
              <td> 2</td>
              <td>(square 3)</td>
              <td>square(3)</td>
            </tr>
            <tr>
              <td> 3</td>
              <td>(+ (square 3) (square 4))</td>
              <td>square(3) + square(4)</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class = "col-sm-6">

      <div class = "form-group"> 
        <textarea class="form-control console" form="evalScreen" ng-model="console" rows="10" cols="50">{{console}}</textarea>
      </div>

      <form name="evalScreen" ng-submit="clear()">
        <button type="submit" class="btn btn-default form-control"> Clear Console </button>
      </form>

      <div class="todos">
        <h3> Other Examples:</h3>
        <table class="table">
          <thead>
            <th>#</th>
            <th>Lisp</th>
            <th>Javascript</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>(car (1 2 3))</td>
              <td>var arr = [1,2,3]; return arr[0];</td>
            </tr>
            <tr>
              <td>2</td>
              <td>(cons 3 4)</td>
              <td>return [3].concat(4);</td>
            </tr>
            <tr>
              <td>3</td>
              <td>(* 4 (+ (/ 9 3) (- 10 2) ))</td>
              <td>return ((9 / 3) + (10 - 2)) * 4;</td>
            </tr>
            <tr>
              <td>4</td>
              <td>(quote (1 2 3))</td>
              <td>return [1 2 3]</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div>
    
  </div>
</div>